<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">各種多消息ε٩(๑> ₃ <)۶з </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="'\assets\images\'+ imgName"  />
    <ion-card-header>
      <ion-card-subtitle>{{ dodoCard.subtitle }}</ion-card-subtitle>
      <ion-card-title>{{ dodoCard.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ dodoCard.content }}</ion-card-content>
  </ion-card>
</ion-content>